<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DLAapp</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>myLogin</servlet-name>
    <servlet-class>servlets.myLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myLogin</servlet-name>
    <url-pattern>/myLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalculateReport</servlet-name>
    <servlet-class>servlets.CalculateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateReport</servlet-name>
    <url-pattern>/calculateReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>